html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

.border-left {
  border-left: 1px solid gray;
}

#filter-menu {
  top: 2em;
  left: 0;
  right: 0;
  margin-top: -2em;
  position: fixed;
  border-bottom: 1px solid gray;
  background-color: #fff;
}

#filter-menu .filter-head {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  margin: 0.4em 0;
}

body {
  padding-top: 2em;
}

#company-items {
}

.company-log {
  width: 100%;
  border-radius: 50%;
  padding: 1em;
}

.company-info {
  margin: 1em 0 1em 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #F0F2F4;
}

.company-info .company-name {
  font-size: 1.2em;
}

.company-info .job-name {
  font-size: 1em;
}

.company-info .request-time {
  color: gray;
  font-size: 0.8em;
}

.job-salary {
  text-align: right;
  color: #DB5935;
  margin-top: 3em;
  margin-right: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #F0F2F4;
}
