html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: Georgia, Times, "Times New Roman", serif;
}

.border-left {
  border-left: 1px solid gray;
}

#filter-menu {
  border-bottom: 1px solid gray;
}

#filter-menu .filter-head {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  margin: 0.4em 0;
}

.company-item {
  padding: 1em 1em;
  border-bottom: 1px solid gray;
}

.company-item .company-logo {
  float: left;
  border-radius: 50%;
  height: 4em;
  margin-right: 1em;
}

.company-item .company-info {
  display: inline;
}

.company-item .job-salary {
  position: absolute;
  right: 0.5em;
}

.company-log {
  width: 100%;
  border-radius: 50%;
  padding: 1em;
}

.company-info {
  padding: 1em 0 1em 2em;
}

.job-salary {
  padding-top: 2em;
}
